
/*
 *	************** CUSTOM STYLE SHEET ******************
 */
html,
body {
	font: $font-size-base $font-family-sans-serif;
	height: 100vh;
	margin: 0;
	padding: 0;
	background-color: $background-color;
}
/*#app {
	background-color: $background-color;
	background-image:
		linear-gradient(
		  to top,
	      $background-color, 
	      $background-end
	    ),
    	url(/storage/images/grass-nofade.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: 100%;
}*/
a {
	color: $primary;
}
a:hover {
	color: $primary;
}
#background-image{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image:
/*		linear-gradient(
		  to top,
	      $background-color, 
	      $background-end
	    ),*/
    	url(/storage/images/grass-nofade.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
}
#main-content {
	position: relative;
	padding-top: 60px;
	z-index: 500;
}
h1 {
	font-size: 3.35em;
	color: $white;
	-webkit-filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.9));
	-moz-filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.9));
	filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.9));
}

/*
 *	COMPONENTS
 */
.card-header {
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}


/*
 *	NAVBAR
 */
 .bg-dark {
 	background-color: $black !important;
 }
 .navbar-dark .navbar-brand {
 	color: $primary;
 }
 .navbar-dark .navbar-nav .nav-link {
 	color: $white;
 	text-transform: uppercase;
 }
 .navbar-dark .navbar-nav .nav-link:hover {
 	color: $primary;
 }
 @media (min-width: 768px) {
	.navbar-expand-md .navbar-nav .nav-link {
	    padding-right: 1.0rem;
	    padding-left: 1.0rem;
	}
}


/*
 *	POSTS
 */
.post-page h1,
.archive-page h1 {
	margin: 0;
}
.post-card {
	margin: 10px 0;
}
.card-small {
	font-size: 0.9em;
	color: $gray-600;
	margin-right: 10px;
}
.card-buttons {
	font-size: 0.8em;
	text-transform: uppercase;
}
.form-page form {
	margin-top: 15px;
}
.btn-sm {
	padding: 0px 5px;
}
.edit-photo {
	margin: auto;
	margin-bottom: 15px;
}
.post-page .card-photo,
.post-page .card-content,
.post-page .card-small
{
	margin-bottom: 10px;
}

/*
 *	ARCHIVE
 */
.archive-card {
	margin: 0;
	padding: 10px;
}
.archive-card > .card {
	height: 100%;
}
.archive-card h3 {
	margin: 0;
}
.archive-card .card-header {
	font-weight: bold;
	color: white;
}
.archive-card .card-header a {
	color: white;
}
archive-card .card-header a:hover {
	color: white;
	text-decoration: underline;
}
.card-label {
	font-weight: bold;
}

/*
 *	ARCHIVE FORM
 */
.archive-create-page form {
	margin-top: 15px;
}
.archive-create-page label {
	margin-bottom: 0;
	margin-top: 0.5em;
}
.archive-create-page .form-group {
	display: flex;
	flex-direction: row;
}
.archive-create-page .form-group > label {
	flex: 1 0 120px;
	max-width: 220px;
	margin-bottom: 0;
	margin-top: 0.5em;
	font-weight: bold;
}
.archive-create-page .form-group > .form-control {
	flex: 1 0 220px;
}
.archive-create-page .form-file-inputs {
	flex: 1 0 120px;
	margin-bottom: 0;
	display: flex;
	flex-direction: row;
}
.archive-create-page .form-file-description {
	flex: auto;
}
.archive-create-page .form-file-delete {
	display: flex;
	flex-direction: row;
	height: 100%;
	align-items: center;
}
.archive-create-page .form-file-delete .delete-item {
	margin-left: 0.8em;
}
.archive-create-page .documents-label {
	margin-bottom: 0.5em;
}
.archive-create-page .documents-label label {
	font-weight: bold;
	margin: 0;
}
.archive-create-page .form-file-name {
	padding-left: 1em;
}
.archive-create-page .no-documents {
	padding-left: 1em;
	margin-bottom: 2em;
}

/*
 *	DASHBOARD
 */
.card-header h3 {
	margin: 0;
}