html, body {
  font-family: 'Nunito', sans-serif;
  font-weight: normal;
  height: 100vh;
  margin: 0;
}
a {
  color: $blue;
}
a:hover {
  color: #8bd1fc;
}
#main-content {
  margin-top: 30px;
}

// Posts
.post-page h1, .archive-page h1 {
	margin: 0;
}
.post-card {
	margin: 10px 0;
}
.card-small {
	font-size: 0.8em;
	color: grey;
	margin-right: 10px;
}
.card-buttons {
	font-size: 0.8em;
}
.post-page form {
	margin-top: 15px;
}
.btn-sm {
	padding: 0px 5px;
}

// Archive
.archive-card {
	margin: 0;
	padding: 10px;
}
.archive-card>.card {
	height: 100%;
}
.archive-card h3 {
	margin: 0;
}
.archive-card .card-header {
	background-color: $red;
	font-weight: bold;
	color: white;
}
.archive-card .card-header a {
	color: white;
}
archive-card .card-header a:hover {
	color: white;
	text-decoration: underline;
}
.card-label {
	font-weight: bold;
}

// Archive Form
.archive-create-page form {
	margin-top: 15px;
}
.archive-create-page label {
  margin-bottom: 0;
  margin-top: 0.5em;
}
.archive-create-page .form-group {
	display: flex;
	flex-direction: row;
}
.archive-create-page label {
  flex: 1 0 120px;
  max-width: 220px;
  margin-bottom: 0;
  margin-top: 0.5em;
}
.archive-create-page .form-control {
  flex: 1 0 220px;
}