
/*
 *	************** CUSTOM STYLE SHEET ******************
 */
html,
body {
	font: $font-size-base $font-family-sans-serif;
	height: 100vh;
	margin: 0;
	padding: 0;
	background-color: $background-color;
}
/*#app {
	background-color: $background-color;
	background-image:
		linear-gradient(
		  to top,
	      $background-color, 
	      $background-end
	    ),
    	url(/storage/images/grass-nofade.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: 100%;
}*/
a {
	color: $primary;
}
a:hover {
	color: $primary;
}
#background-image{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image:
/*		linear-gradient(
		  to top,
	      $background-color, 
	      $background-end
	    ),*/
    	url(/storage/images/grass-nofade.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
}
#main-content {
	position: relative;
	padding-top: 80px;
	z-index: 500;
}
h1 {
	font-size: 3.35em;
	color: $white;
	-webkit-filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.9));
	-moz-filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.9));
	filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.9));
	margin: 0;
}

/*
 *	COMPONENTS
 */
.card-header {
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.btn-sm {
	padding: 0px 5px;
}
.profile-pic-wrapper {
	width: $profile-pic-size;
	height: $profile-pic-size;
}
.profile-pic {
	max-height: $profile-pic-size;
	width: auto;
	overflow: hidden;
}

/*
 *	NAVBAR
 */
.navbar {
 	padding: 0;
 	/*height: $nav-height;*/
}
.navbar .container,
.navbar .brand-container,
.navbar .navbar-collapse,
.navbar .navbar-nav,
.navbar .nav-item,
.navbar .nav-link {
 	height: 100%;
}
.bg-dark {
 	background-color: $black !important;
}
/*NAV LOGO*/
.navbar .brand-container {
	z-index: 10;
	display: flex;
	align-items: stretch;
	flex-wrap: nowrap;
}
.navbar-dark .navbar-brand {
	flex: 1 1 100%;
 	background-color: $primary;
 	color: $black;
 	text-align: center;
 	margin: 0;
 	padding: 5px;
 	line-height: 40px;
 	font-size: 28px;
 	font-weight: bold;
}
.navbar-dark .navbar-brand:hover {
	color: $black;
}
.navbar-dark .brand-left {
	flex: 0 0 20px;
	background-color: $primary;
	background: linear-gradient(to right bottom, $black 50%, $primary 50%);
}
.navbar-dark .brand-right {
	flex: 0 0 20px;
	background-color: $primary;
	background: linear-gradient(to right bottom, $primary 50%, $black 50%);
}
/*NAV LINKS*/
.navbar .navbar-collapse {
	margin-left: 50px;
}
.navbar-dark .navbar-nav .nav-link {
 	color: $white;
 	text-transform: uppercase;
 	padding: 1.2em 0 1em 0;
 	border-bottom: 3px solid $black;
}
.navbar-dark .navbar-nav .nav-link:hover {
 	color: $primary;
 	border-bottom: 3px solid $primary;
}
/*NAV TOGGLE*/
.navbar-dark .navbar-toggler {
	padding: 0.4em 0.2em;
	font-size: 24px;
	border: 0;
	color: $white;
}
/*NAV DROPDOWN*/
.dropdown-menu {
	background-color: $black;
	border: 1px solid $gray-100;
	color: $white;
}
.dropdown-item {
	color: $white;
 	border-left: 3px solid $black;
}
.dropdown-item:hover {
	color: $primary;
	background: none;
 	border-left: 3px solid $primary;
}
/*NAV COLLAPSED MENU*/
.navbar-collapse.show .navbar-nav .nav-link {
 	padding: .2em 0 0.1em 0;
 	margin: 0.4em 0;
 	border-bottom: 1px solid $black;
}
.navbar-collapse.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}
.navbar-collapse.show .navbar-nav .nav-link:hover {
 	border-bottom: 1px solid $primary;
}
@media (min-width: 768px) {
	.navbar-expand-md .navbar-nav .nav-link {
	    margin-right: 1.1rem;
	    margin-left: 1.1rem;
	}
}
@media (max-width:767px) {
	.navbar .dropdown-toggle {
		display: none;
	}
	.navbar .dropdown-menu {
		display: block;
		position: static;
		float: none;
		width: auto;
		margin: 0;
		padding: 0;
		background-color: transparent;
		border: 0;
	    -webkit-box-shadow: none;
	    box-shadow: none;
	}
	.navbar 
	.navbar-nav .dropdown-item {
		display: block;
	 	color: $white;
	 	text-transform: uppercase;
	 	padding: .2em 0 0.1em 0;
	 	margin: 0.8em 0;
	 	border-left: 0;
	 	border-bottom: 1px solid $black;
	}
	.navbar-nav .dropdown-item:hover {
		color: $primary;
		border-left: 0;
 		border-bottom: 1px solid $primary;
	}
}

/*
 *	POSTS
 */
.post-card {
	margin: 10px 0;
}
.post-card .card-header {
	padding: 0.75rem 0.5rem 0 1.25rem;
	display: flex;
	justify-content: space-between;
	border: 0;
}
.post-card .card-header-pic {
	flex: 0 0 $profile-pic-size;
	margin: 0.5rem 0.5rem 0 0;
}
.post-card .card-header-left {
	flex: 1 1 100%;
	padding-top: 0.6rem;
}
.post-card .card-header-right {
	flex: 0 0 5%;
}
.post-card .card-body {
	padding-top: 1rem;
}
.post-card .card-content>p {
	margin-bottom: 0.75rem;
}
/*Last P tag should have no margin on the bottom*/
.post-card .card-content>p:last-child {
	margin-bottom: 0;
}
.post-card .card-small {
	font-size: 0.9em;
	color: $gray-600;
	margin-right: 10px;
}
.form-page form {
	margin-top: 15px;
}
.edit-photo {
	margin: auto;
	margin-bottom: 15px;
}
.post-page .card-photo {
	margin-bottom: 15px;
}
/*DROPDOWN MENU*/
.post-card .dropdown>a {
	font-size: 20px;
	color: $gray-200;
}
.post-card .dropdown-menu {
	border: 1px solid $gray-600;
	background: #18191a;
}
.post-card .dropdown-divider {
	border-top: 1px solid $gray-800;
}
.post-card .dropdown-item {
 	border: 0;
}
.post-card .dropdown-item:hover {
	color: $white;
	background-color: $gray-800;
	border: 0;
}

/*
 *	ARCHIVE
 */
.archive-card {
	margin: 0;
	padding: 10px;
}
.archive-card > .card {
	height: 100%;
}
.archive-card h3 {
	margin: 0;
}
.archive-card .card-header {
	font-weight: bold;
	color: white;
}
.archive-card .card-header a {
	color: white;
}
archive-card .card-header a:hover {
	color: white;
	text-decoration: underline;
}
.card-label {
	font-weight: bold;
}

/*
 *	ARCHIVE FORM
 */
.archive-create-page form {
	margin-top: 15px;
}
.archive-create-page label {
	margin-bottom: 0;
	margin-top: 0.5em;
}
.archive-create-page .form-group {
	display: flex;
	flex-direction: row;
}
.archive-create-page .form-group > label {
	flex: 1 0 120px;
	max-width: 220px;
	margin-bottom: 0;
	margin-top: 0.5em;
}
.archive-create-page .form-group > .form-control {
	flex: 1 0 220px;
}
.archive-create-page .form-file-inputs {
	flex: 1 0 120px;
	margin-bottom: 0;
	display: flex;
	flex-direction: row;
}
.archive-create-page .form-file-description {
	flex: auto;
}
.archive-create-page .form-file-delete {
	display: flex;
	flex-direction: row;
	height: 100%;
	align-items: center;
}
.archive-create-page .form-file-delete .delete-item {
	margin-left: 0.8em;
}
.archive-create-page .documents-label {
	margin-bottom: 0.5em;
}
.archive-create-page .documents-label label {
	font-weight: bold;
	margin: 0;
}
.archive-create-page .form-file-name {
	padding-left: 1em;
}
.archive-create-page .no-documents {
	padding-left: 1em;
	margin-bottom: 2em;
}

/*
 *	DASHBOARD
 */
.dashboard-page .card-header h3 {
	margin: 0;
}
.dashboard-page .list-group-item {
	padding: 0;
}
.card-dashboard-list-item,
.card-dashboard-list-item>a {
	width: 100%;
	margin: 0;
}
.dashboard-page .profile-info-top {
	display: flex;
	width: 100%;
	align-items: center;
}
.dashboard-page .profile-pic-wrapper {
	flex: 0 0 auto;
}
.dashboard-page .profile-text {
	flex: 1 1 100%;
}
.dashboard-page .profile-info-bottom {
	width: 100%;
	margin-top: 0.75rem;
}
.dashboard-page .profile-text .row {
	margin: 0;
}


/*
 *	USERS
 */
.user-page h1 {
	margin: 0;
}
.user-page .list-group-item {
	padding: 0;
}
.user-page .card-user-list-item {
	display: flex;
	align-items: center;
}



/*
 *	TABLES
 */
.clickable-row{
	flex: 1 1 100%;
}
a.clickable-row {
	color: $white;
	text-decoration: none;
	margin: 0;
	padding: 0.7em;
}
a.clickable-row:hover {
	color: $white;
	text-decoration: none;
	background-color: $gray-900;
}
.trash-item {
	flex: 0 0 35px;
}
.trash-item button {
	font-size: 20px;
	padding: 0;
	margin: 0;
	background-color: $black;
	color: $white;
	border: 0;
	padding: 0.1em 0.3em;
	border-radius: 5px;
}
 .trash-item button:hover {
	background-color: $primary;
}